# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.UnityXFramework.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\unity_client_frame\unity_frame\UnityXFramework-master\.idea\.idea.UnityXFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
